.Headers {
  width: 100%;
  height: 80px;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  .Header{
    width: 100%;
    height: 80px;
    margin: 0%;
    padding: 10px;
    background-color: aqua;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    

    &__logo {
      color: black;
      width: 30%;
      line-height: 60px;
      
    }
    &__name {
      color: black;
      width: 60%;
      line-height: 60px;
      
    }
    &__sign-up {
      color: red;
      width: 10%;
      line-height: 60px;
    }
    &__sign-in {
      color: red;
      width: 10%;
      line-height: 60px;
    }
    &__sign-out {
      color: red;
      width: 10%;
      line-height: 60px;

    }
  }
}

.Wrapper {
  width: 100%;
  height: calc(100% - 80px - 90px);
  margin: 0%;
  padding: 0%;

  .Chats{
    height: calc(100vh - 90px - 40px);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
    overflow: auto;
    .Chat {
      height: 40px;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 10px;
      &__user-name {
        font-weight: bold;
        color: gold;
        font-size: 16px;
      }
      &__content {
        color: gold;
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
      }
      a {
        float: right;
        color: aqua;
        box-sizing: border-box;
        padding-left: 50px;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__tweet {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
      .form__mask {
        background-color: white;
        float: left;
        height: 50px;
        padding-right: 10px;
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: aqua;
        border: none;
        color: white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
  }
}